<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>707319044550-hbe6c4tj74h181ahr40g43q0e98lmsop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707319044550-hbe6c4tj74h181ahr40g43q0e98lmsop</string>
	<key>API_KEY</key>
	<string>AIzaSyCzsge7_10NFZfb0ASxUhBH_6BajmO537A</string>
	<key>GCM_SENDER_ID</key>
	<string>707319044550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tambarcumyan.layk-shop</string>
	<key>PROJECT_ID</key>
	<string>layk-b4167</string>
	<key>STORAGE_BUCKET</key>
	<string>layk-b4167.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707319044550:ios:e2396e459db9f165</string>
	<key>DATABASE_URL</key>
	<string>https://layk-b4167.firebaseio.com</string>
</dict>
</plist>